@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Klientská zóna
    </button>

    <ul class="dropdown-menu">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="/Account/Manage/Index" title="Manage"> @User.Identity?.Name</a>
        </li>
        <li class="dropdown-item">
                <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Odhlášení</button>
            </form>
        </li>
    }
    else
    {
        <li class="dropdown-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrovat</a>
        </li>
        <li class="dropdown-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Přihlásit</a>
        </li>
    }
    </ul>
</div>