@{
    ViewData["Title"] = "Kontakt";
}

<h1 class="text-primary text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-primary bg-gradient bg-opacity-10">Kontakty</h1>

<div class="row pt-4 pb-5  border-bottom border-2 border-dark">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center fs-3">Asistenční služba</h5>
                <p class="card-text text-center fs-3 border-danger border-1 border-top border-bottom">Volejte na číslo: 111 222 333</p>
                <p class="fs-4 text-center">V provozu NONSTOP</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center fs-3">Zákaznická linka</h5>
                <p class="card-text text-center fs-3 border-secondary border-1 border-top border-bottom">Volejte na číslo: 444 555 666</p>
                <p class="fs-4 text-center">Pracovní dny od 8 do 18 hod.</p>
            </div>
        </div>
    </div>
</div>
<div class="card text-center mt-5 mb-5 ">
    <div class="card-header fs-4">
        Nebo nás navštivte osobně
    </div>
    <div class="card-body">
        <h5 class="card-title">Na adrese:</h5>
        <p class="card-text">Něčí náměstí 1234 </p>
        <p class="card-text">5678/01, Praha - Centrum</p>

    </div>
    <div class="card-footer text-body-secondary">
        Těšíme se na Vás.
    </div>
</div>