@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Pojištění majetku";
}

<div class=" ">
    <h1 class="text-primary text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-primary bg-gradient bg-opacity-10">Pojištění majetku</h1>
    <div class="col-sm-12 mb-3 mb-sm-0 pb-3">
        <div class="card h-100 w-100 ">
            <div class="card-body">
                <h5 class="card-title border-bottom border-3 border-primary ">Pojištění majetku</h5>
                <ul class="list-unstyled">
                    <li><h5>Proč si pojistit majetek u nás?</h5></li>
                    <ul>
                        <li>Vedlejší stavby, jako je samostatně stojící garáž, oplocení, pergola nebo bazén máte pojištěny až do výše 5 % pojistné částky hlavní stavby. </li>
                        <li>Vyplatíme vám peníze za vandalismus a odcizení i v případě, že není známý pachatel.</li>
                        <li>Pojistit si u nás můžete i kolo nebo kočárek proti odcizení mimo váš domov.</li>
                        <li>V případě pojištění zkratu, přepětí a podpětí nezkoumáme stáří poškozeného elektronického zařízení - hradíme škodu vždy. </li>
                    </ul>

                </ul>
            </div>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card text-center mt-5 mb-5 ">
            <div class="card-header fs-4">
                Sjednání pojištění majetku
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a class="btn btn-outline-primary mb-1 mb-sm-0 mt-2 mt-sm-0" role="button" asp-area="" asp-controller="Insurances" asp-action="Create">Sjednat pojištění</a>
            </div>
            <div class="card-footer text-body-secondary">
                Těšíme se na Vás.
            </div>
        </div>
    }
    else
    {

        <div class="card text-center mt-5 mb-5 ">
            <div class="card-header fs-4">
                Pro sjednání pojištění se prosím přihlašte nebo zaregistrujte
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a class="btn btn-outline-primary mb-1 mb-sm-0 mt-2 mt-sm-0" role="button" asp-area="" asp-controller="Account" asp-action="Register">Registrovat</a>
                <a class="btn btn-outline-primary mb-1 mb-sm-0 mt-2 mt-sm-0" role="button" asp-area="" asp-controller="Account" asp-action="Login">Přihlásit</a>

            </div>
            <div class="card-footer text-body-secondary">
                Těšíme se na Vás.
            </div>
        </div>

    }
</div>