@{
    ViewData["Title"] = "Sjednat pojištění";
}

<div class=" ">
    <h1 class="text-primary text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-primary bg-gradient bg-opacity-10">Vyberte si z nabídky našich pojištění</h1>
    <div class="row pt-4 pb-5  border-bottom border-2 border-dark">
        <div class="col-sm-12 mb-3 mb-sm-0 pb-3">
            <div class="card h-100 w-100 ">
                <div class="card-body">
                    <h4 class="card-title border-bottom border-3 border-primary">Cestovní pojištění</h4>
                    <ul class="list-unstyled">
                        <li><h5>Proč si sjednat cestovní pojištění u nás?</h5></li>
                        <ul>
                            <li>Limit pojistného spolehlivě pokryje léčebné výlohy v zahraničí. </li>
                            <li>Můžete si sjednat pojištění nejen na cestu do zahraničí, ale i na dovolenou v České republice.</li>
                            <li>Pojištěný máte i zásah horské služby v případě zdravotních potíží.</li>
                            <li>Součástí pojištění odpovědnosti je také pojištění právní ochrany pro případ, kdy budete ve sporu s cestovní kanceláří nebo přepravcem. </li>
                            <li>Jsme vždy na telefonu – asistenční služba 24 hodin denně v českém jazyce.</li>
                        </ul>

                    </ul>
                    <a class="dropdown-item text-primary mt-4" asp-area="" asp-controller="Home" asp-action="PojisteniCestovni">Sjednání cestovního pojištění</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 pb-3">
            <div class="card h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title border-bottom border-3 border-primary ">Pojištění majetku</h5>
                    <ul class="list-unstyled">
                        <li><h5>Proč si pojistit majetek u nás?</h5></li>
                        <ul>
                            <li>Vedlejší stavby, jako je samostatně stojící garáž, oplocení, pergola nebo bazén máte pojištěny až do výše 5 % pojistné částky hlavní stavby. </li>
                            <li>Vyplatíme vám peníze za vandalismus a odcizení i v případě, že není známý pachatel.</li>
                            <li>Pojistit si u nás můžete i kolo nebo kočárek proti odcizení mimo váš domov.</li>
                            <li>V případě pojištění zkratu, přepětí a podpětí nezkoumáme stáří poškozeného elektronického zařízení - hradíme škodu vždy. </li>
                        </ul>

                    </ul>
                    <a class="dropdown-item text-primary mt-4" asp-area="" asp-controller="Home" asp-action="PojisteniMajetku">Sjednání pojištění majetku</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title border-bottom border-3 border-primary">Pojištění vozidel</h5>
                    <ul class="list-unstyled">
                        <li><h5>Proč si sjednat povinné ručení a havarijní pojištění?</h5></li>
                        <ul>
                            <li>Garantujeme vyplacení pořizovací ceny vozidla po dobu 5 let u vozidel do 2 let stáří. </li>
                            <li>Kryjeme škody na vašem vozidle.</li>
                            <li>Asistenční služby pro případ nehody i poruchy vozidla se sčítají.</li>
                            <li>Pojištění osobních věcí řidiče i posádky v ceně. </li>
                        </ul>

                    </ul>
                    <a class="dropdown-item text-primary mt-4" asp-area="" asp-controller="Home" asp-action="PojisteniVozidel">Sjednání pojištění vozidel</a>
                </div>
            </div>
        </div>
    </div>

</div>