@model InsurenceWebApp.Models.InsurancesEvents

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-secondary bg-gradient bg-opacity-10">Smazání události</h1>


<h3 class="text-danger">Opravdu chcete smazat záznam?</h3>
<div>
    <h4>InsurancesEvents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 border-1 border-bottom border-end">
            <h5 class="text-primary">Číslo smlouvy</h5>
        </dt>
        <dd class="col-sm-10 border-1 border-bottom ">
            <h5 class="text-primary">@Html.DisplayFor(model => model.ContractNumber)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom border-end ">
            <h5 class="text-primary">Číslo pojistné události</h5>
        </dt>
        <dd class="col-sm-10 border-1 border-bottom ">
            <h5 class="text-primary">@Html.DisplayFor(model => model.EventNumber)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom border-end ">
            <h5 class="text-primary">Velikost Škody</h5>
        </dt>
        <dd class="col-sm-10 border-1 border-bottom ">
            <h5 class="text-primary">@Html.DisplayFor(model => model.DamageAmount)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom border-end ">
            <h5 class="text-primary">Popis škodné události</h5>
        </dt>
        <dd class="col-sm-10 border-1 border-bottom ">
            <h5 class="text-primary">@Html.DisplayFor(model => model.DamageDescription)</h5>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
