@model InsurenceWebApp.Models.InsurancesEvents

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-primary text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-primary bg-gradient bg-opacity-10">Úprava pojistných událostí</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="InsurancesId" />
            <div class="form-group">
                <label asp-for="ContractNumber" class="control-label">Číslo a typ smlouvy</label>
                <input asp-for="ContractNumber" class="form-control" readonly/>
                <span asp-validation-for="ContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventNumber" class="control-label">Číslo události</label>
                <input asp-for="EventNumber" class="form-control" readonly/>
                <span asp-validation-for="EventNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageAmount" class="control-label">Výše škody</label>
                <input asp-for="DamageAmount" class="form-control" />
                <span asp-validation-for="DamageAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageDescription" class="control-label">Popis škody</label>
                <input asp-for="DamageDescription" class="form-control" />
                <span asp-validation-for="DamageDescription" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary mt-3" asp-action="Index">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
